<div id="<%= dom_id resident %>">
  <p>
    <strong>Name:</strong>
    <%= resident.name %>
  </p>

  <p>
    <strong>Situation:</strong>
    <%= resident.situation %>
  </p>

  <p>
    <strong>Roka:</strong>
    <%= resident.roka_id %>
  </p>

  <p>
    <strong>Has plaque:</strong>
    <%= resident.has_plaque %>
  </p>

  <p>
    <strong>Registration year:</strong>
    <%= resident.registration_year %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= resident.address %>
  </p>

  <p>
    <strong>Reference point:</strong>
    <%= resident.reference_point %>
  </p>

  <p>
    <strong>Lives in jn:</strong>
    <%= resident.lives_in_jn %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= resident.phone %>
  </p>

  <p>
    <strong>Is on whatsapp group:</strong>
    <%= resident.is_on_whatsapp_group %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= resident.birthdate %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= resident.profession %>
  </p>

  <p>
    <strong>Residents in the house:</strong>
    <%= resident.residents_in_the_house %>
  </p>

  <p>
    <strong>Observations:</strong>
    <%= resident.observations %>
  </p>

  <p>
    <strong>Needs collect on the house:</strong>
    <%= resident.needs_collect_on_the_house %>
  </p>

  <p>
    <strong>Shift for collection on the house:</strong>
    <%= resident.shift_for_collection_on_the_house %>
  </p>
</div>
